@import './variables.css';
@import './common.css';

body {
    background-color: var(--white);
    background: var(--DefaultBackgroundImage), var(--AlternateBackgroundImage);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 1.5%;
}

.centered-content {
    display: flex;
    position: fixed;
    height: 98%;
    width: 99vw;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: inline-grid;
    grid-template: 
        "d" var(--DisplayHeight)
        "b" var(--ButtonsHeight) / var(--MainColumnWidth);
    background-color: var(--white);
    gap: var(--DisplayToButtonsGap);
    align-self: center;
    padding: 5px
}

.display-container {
    display: grid;
    grid-template: auto / 1fr 4fr;
    gap: 0 0
}

.display {
    display: flex;
    font-size: var(--DisplayFontSize);
    color: var(--white);
    background: var(--black);
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    overflow: auto;
}

#display-content {
    overflow-x: auto;
}

#clear-button {
    width: 100%;
    height: 100%;
    font-size: var(--ButtonFontSize);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--lightBlue);

}

.buttons-container {
    display: grid;
    grid-template: auto/ 1fr 1fr;
    gap: var(--ButtonToButtonGap) var(--ButtonToButtonGap);
}

.buttons-container > button {
    border: 1px solid var(--darkBlue);
    background-color: var(--white);
    padding: 5px 5px;
}

.numbers {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr;
    gap: var(--ButtonToButtonGap);
}

.numbers > button {
    font-size: var(--ButtonFontSize);
    border: 1px solid var(--darkBlue);
    border-radius: 10px;
}

.operations{
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    gap: var(--ButtonToButtonGap);
}

.operations > button {
    font-size: var(--ButtonFontSize);
    border: 1px solid var(--darkBlue);
    border-radius: 10px;
}

.numbers>button:active, .operations>button:active{
    background-color: var(--black);
    color: white;
}

#clear-button:hover, .numbers>button:hover, .operations>button:hover{
    background-color: var(--darkBlue);
    color: var(--white);
}

#clear-button:active{
    background-color: var(--white);
    color: var(--darkBlue);
}

.active {
    background-color: var(--darkBlue);
    color: white;
}
